<div class="container my-5">
  <h1>Edit Customer</h1>
  <div class="row">
    <div class="col-3">
      <form #form="ngForm"  (ngSubmit)="updateCustomer()">
        <div class="mb-3">
          <label for="id" class="form-label">Customer ID</label>
          <input type="text" class="form-control" id="id" name="id" [(ngModel)]="customerDetails.id"  readonly>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Customer Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customerDetails.name" >
        </div>
        <div class="mb-3">
          <label for="hp" class="form-label">Customer Hp</label>
          <input type="text" class="form-control"  id="hp"  name="hp" [(ngModel)]="customerDetails.hp">
        </div>
        <div class="btn-toolbar  pull-right">
          <button type="submit" class="btn btn-primary ms-1">Save</button>
          <button type="button" class="btn btn-danger ms-1" (click)="deleteCustomer()">Delete</button>
        </div>

      </form>
    </div>
  </div>

</div>
